<div layout="column">
    <md-card md-colors="{ background: 'orange-500'}">
        <md-card-content>
            <div layout="column">
                <div ng-if="message" class="padding-bottom-8" layout="column" layout-align="center center">
                    <span class="font-weight-700">{{message}}</span>
                </div>
                <div ng-if="buttonText && buttonLink" layout="column" layout-align="center center">
                    <md-button md-colors="{ background: 'primary-50' }" class="md-raised" ng-href="{{buttonLink}}">
                        {{buttonText}}
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>