<div layout="column">
    <md-card class="quickcomplete" ng-if="defined()">
        <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
            <md-card-header-text layout="row">
                <div layout="column" layout-align="center none" flex="grow">
                    <span class="font-weight-600">{{quickCompleteProgram.name}}</span>
                    <span flex="nogrow">{{week.name}} | {{day.name}}</span>
                </div>
            </md-card-header-text>
            <help template-url="helpTemplateUrl"></help>
        </md-card-header>
        <md-card-content>
            <div layout="row">
                <div layout="column" flex="grow">
                    <span class="margin-bottom-8 font-weight-600">{{exercise}}</span>
                    <span>{{setInformation}}</span>
                </div>
                <div layout="column" layout-align="center center" flex="nogrow">
                    <md-checkbox class="no-margin" ng-model="set.complete" ng-change="calculatePercentageComplete()" aria-label="complete set" flex="nogrow"></md-checkbox>
                </div>
            </div>
        </md-card-content>
        <md-progress-linear ng-if="quickCompleteProgram.percentComplete >= 0" md-mode="determinate" value="{{quickCompleteProgram.percentComplete}}"></md-progress-linear>
    </md-card>

    <md-card class="quickcomplete" ng-if="!defined()">
        <md-card-header class="no-padding-right" md-colors="{ 'background' : 'primary-50' }">
            <md-card-header-text layout="row">
                <div layout="column" layout-align="center none" flex="grow">
                    <span class="font-weight-600">No most recent program</span>
                </div>
            </md-card-header-text>
            <help template-url="helpTemplateUrl"></help>
        </md-card-header>
        <md-card-content>
            <div layout="column" layout-align="none center">
                <md-button class="md-raised" md-colors="{ background: 'orange-700', color: 'grey-900' }" ng-click="buttonClicked()">{{buttonText}}</md-button>
            </div>
        </md-card-content>
    </md-card>
</div>