<div layout="column" layout-padding>
    <div layout="row">
        <div flex="50">
            <highlight-card header-text="completedHeaderText" highlight-text="completedHighlightText" highlight-color="completedHighlightColor" subhead-text="completeSubheadText"></highlight-card>
        </div>
        <div flex="50">
            <highlight-card header-text="activeHeaderText" highlight-text="activeHighlightText" highlight-color="activeHighlightColor" subhead-text="activeSubheadText"></highlight-card>
        </div>
    </div>
    <div layout="column" flex>
        <quick-complete quick-complete-program="quickCompleteProgram"></quick-complete>
    </div>
    <div layout="column" flex>
        <dashboard-program-list programs="programs"></dashboard-program-list>
    </div>
</div>