<div layout="column" class="padding-left-8 padding-right-8">
    <div layout="column">
        <div layout="row" layout-align="none center">
            <span class="padding-left-14 font-weight-700" flex="grow">Active Programs</span>
            <help template-url="helpActiveProgramListUrl"></help>
        </div>
        <md-divider class="margin-top-8 padding-bottom-8"></md-divider>
    </div>
    <program-list ng-if="programs && programs.length > 0" programs="programs"></program-list>
    <list-empty ng-if="!programs || programs.length <= 0" message="emptyListMessage" button-text="emptyListButtonText" button-link="emptyListButtonList"></list-empty>
</div>
