<div layout="column">
    <form name="addProgramTypeSetExerciseWeightedForm" layout="column" class="no-padding-bottom">
        <!-- Numner of reps -->
        <md-input-container class="no-margin-bottom no-margin-top">
            <label>Number of Reps</label>
            <input name="numberOfRepsInput" ng-model="setExercise.numberOfReps" type="number" min="0" step="1" required md-no-asterisk="true">
            <div ng-messages="addProgramTypeSetExerciseWeightedForm.numberOfRepsInput.$error">
                <div ng-message="required">Number of reps are required.</div>
                <div ng-message="min">Must be greater than 0.</div>
            </div>
        </md-input-container>
        
        <!-- ORM -->
        <md-input-container class="no-margin-bottom no-margin-top">
            <label>One Rep Max %</label>
            <input name="oneRepMaxInput" ng-model="setExercise.oneRepMaxPercentage" type="number" min="0" max="100" required md-no-asterisk="true">
            <div ng-messages="addProgramTypeSetExerciseWeightedForm.oneRepMaxInput.$error">
                <div ng-message="required">A one rep max is required.</div>
                <div ng-message="min">Must be greater than 0.</div>
                <div ng-message="max">Must be less than 100.</div>
            </div>
        </md-input-container>

        <!-- Increment Multiplier -->
        <md-input-container class="no-margin-bottom no-margin-top">
            <label>Increment Multiplier</label>
            <input name="incrementMultiplierInput" ng-model="setExercise.incrementMultiplier" type="number" min="0" required md-no-asterisk="true">
            <div ng-messages="addProgramTypeSetExerciseWeightedForm.incrementMultiplierInput.$error">
                <div ng-message="required">An increment multiplier is required.</div>
                <div ng-message="min">Must be greater than 0.</div>
            </div>
        </md-input-container>
    </form>
</div>