<div layout="column">
    <div layout="row" layout-align="center none">
        <div layout="column" flex="grow">
            <md-input-container class="no-margin-top no-margin-bottom">
                <md-select ng-model="selectedOrder" aria-label="Order List Select">
                    <md-option ng-repeat="orderValue in orderValues" ng-selected="orderValue.text === selectedOrder.text" ng-value="orderValue">
                        {{orderValue.text}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
        <div layout="column" flex="nogrow">
            <md-button class="md-icon-button" ng-click="reverse(selectedOrder)" aria-label="Clear">
                <md-icon ng-if="reversed === true" class="padding-right-4" md-svg-src="images/icons/downArrowBlack.svg"></md-icon>
                <md-icon ng-if="reversed === false" class="padding-right-4" md-svg-src="images/icons/upArrowBlack.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>